
$base-info-window-class: 'custom-info-window';
$custom-info-window-class: "activist-info-window";
$window-width: 400px * .8;
$window-height: 450px * .8;

.gm-style {
  .#{$base-info-window-class} {
    .gm-style-iw-a.#{$custom-info-window-class} {
      .gm-style-iw-t {
        .gm-style-iw-c.gm-style-iw {
          width: $window-width !important;
          max-width: $window-width !important;
          max-height: $window-height !important;
          .gm-style-iw-d {
            width: $window-width !important;
            max-width: $window-width !important;
            max-height: $window-height !important;
            & > div {
              max-height: $window-height !important;
            }
          }
          .gm-style-iw-d + button {
            background: #00c5ff !important;
          }
        }
      }
      //
      .marker__title {
        color: #00c5ff;
      }
    }

    &.focused {
      .gm-style-iw-a.#{$custom-info-window-class} {
        .gm-style-iw-t {
          .gm-style-iw-c.gm-style-iw {
            box-shadow: 0 0 5px #00c5ff, 0 0 30px -3px #6be8ff;
          }
        }
      }
    }
  }
}
          