
.post-wrapper {
  z-index: 0;
  box-sizing: border-box;

  &:hover {
    z-index: 1;
  }

  &.w1 {
    width: 24%;
  }
  &.w2 {
    width: 49%;
  }
  &.w3 {
    width: 74%;
  }
  &.w4 {
    width: 99%;
  }
}
.sizer-element {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 25%;
}
.shuffle {
  overflow: visible !important;
}