
.loading {
  pointer-events: none;
  background: rgba(184, 255, 208, 0.4);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.overlaping {
    pointer-events: all;
    opacity: 1;
  }
}