
$base-info-window-class: 'custom-info-window';
$custom-info-window-class: "action-info-window";
$window-width: 400px * .8;
$window-height: 400px * .8;
$marker-color: #3ed08d;
$marker-shadow-color: #8ce4a8;

.gm-style {
  .#{$base-info-window-class} {
    .gm-style-iw-a.#{$custom-info-window-class} {
      counter-reset: 1;
      .gm-style-iw-t {
        .gm-style-iw-c.gm-style-iw {
          width: $window-width !important;
          max-width: $window-width !important;
          max-height: $window-height !important;
          .gm-style-iw-d {
            width: $window-width !important;
            max-width: $window-width !important;
            max-height: $window-height !important;
            & > div {
              max-height: $window-height !important;
            }
          }
          .gm-style-iw-d + button {
            background: $marker-color !important;
          }
        }
      }
      //
      .marker__title {
        color: #1d7e51;
      }
    }
  
    &.focused {
      .gm-style-iw-a.#{$custom-info-window-class} {
        .gm-style-iw-t {
          .gm-style-iw-c.gm-style-iw {
            box-shadow: 0 0 5px $marker-color, 0 0 30px -3px $marker-shadow-color;
          }
        }
      }
    }
  }
}
          